.icon-vk::before{
    content: "__";
    aspect-ratio: 1;
    background: no-repeat center url(plugins/nodebb-plugin-sso-vk2/static/images/logo_vk.svg);
    margin: 3px 0 0;
    background-size: contain;
    color: rgba(0,0,0,0);
}
